<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>

    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=aspnet-College;Integrated Security=True;"/>-->
    
    <add name="MyCollege" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=College;Integrated Security=True;"/>
    
    <add name="MyLibrary" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=Library;Integrated Security=SSPI;"/>
    <!--<add name="MyLibrary" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLocalDB;Initial Catalog=Library;Integrated Security=SSPI;"/>
    <add name="MyExcel" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
         Data Source=C:\Users\АбироваА\Desktop\Books.xlsx;Extended Properties='Excel 12.0 Xml;HDR=YES';"/>-->
  </connectionStrings>
</configuration>